################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cweb/obj
/ForgeToken/obj
/GtpForge/obj
/exists.txt
/t.txt
/x.txt
/helmDenali3.txt

## .NET build artifacts
bin/
obj/
publish/

## Visual Studio
.vs/
*.user
*.suo

## Rider
.idea/

## OS files
Thumbs.db
Desktop.ini

## Windows null device file (created by tools that write to "nul" incorrectly)
nul
